
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

html {
    font-family: 'Fredoka', Arial;  
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #212121;
    box-sizing: border-box;
}