*{
    list-style: none;
    text-decoration: none;
}

.logo{
    display: flex;
    color: #DB0000;
    font-family: 'Fredoka', sans-serif;
    font-size: 45px;
    font-weight: 600;
    font-style: normal; 
    line-height: normal;
    text-shadow:  -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-display: inline-block;
    cursor: pointer;
}

.logo:hover {
    color: #FFF;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    // background-color: #212121;
    background-color:transparent;
}

.navList {
    display: flex;    
    gap: 24px;
    margin: 0;
    padding: 0;
}

.navList a{
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}

.navList a:hover {
    color: #DB0000;
    text-shadow: 1px 1px 2px black;;
}

.iconList {
    display: flex;
    gap: 15px;
    // margin-left: 5px ;
}

.iconList a{
    color: white;
}

.iconList a:hover {
    color: #DB0000;
    text-shadow: 1px 1px 2px black;;
}

.line {
    width: 100%;
    border-top: 5px solid #564D4D;
}


@media (max-width: 768px) {
    .logo {
        margin-bottom: 10px;
    }
    
    .navList {
        display: none;
      margin-left: 0;
      margin-bottom: 10px;
    }
  
    .navList li {
      margin-right: 0;
      margin-bottom: 6px;
    }
  }

@media (max-width: 425px) {
    nav{
        padding: 10px 15px;
    }

    .iconList{
        gap: 5px;
    }
    
}